body {
	background-color: aliceblue;
}

.booking {
	max-width: 350px;
	display: inline-block;
}

form {
	max-width: 300px;
	margin: auto;
}

.tool-tip,
.down-arrow,
.up-arrow {
	background-color: #c2c9d6;
}
.tool-tip,
.down-arrow,
.outer {
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.dropoff {
	text-align: right;
}
input:not([type='radio']):not([type='checkbox']):not([type='button']):not([type='submit']):not([class]),
input:not([type='radio']):not([type='checkbox']):not([type='button']):not([type='submit'])[xx] {
	background-color: #fff;
	border: 1px solid #b0bdc3;
	padding: 0.5rem 0.6rem;
}
input[name='providedUsername'],
input[name='providedPassword'],
input[name='providedUsername']:focus,
input[name='providedPassword']:focus {
	color: #111;
}

label {
	text-align: left;
}
nav:not([class]) header a img, nav[xx] header a img {
	height: 3rem;
}

.center {
	text-align: center;
}

#sign-out {
	display: none;
}
.big-eta {
	display: block;
	font-size: 4em;
	margin-bottom: 4px;
}

.eta-wrapper {
	margin-top: 64px; 
	display: inline-block; 
	font-size: 14px; 
	line-height: 1.3;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
	/*
	this is a hack to fix mobile zoom issues
	*/
  font-size: 16px;
}